.heading{
    width: 100%;
    text-align: center;
    }
    .heading h3{
     display: inline;
    }
    .heading button{
        float: right;
        border: solid 2px white;
        color: black;
        font-weight: bolder;
        font-size: 20px;
    }
    .big_image{
        width:100%;
        
    }
    #start, #status{
        font-size:25px;
    }